header{
    background: rgb(180, 218, 119);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    
}

.header_text{
    font-size: 4em;
    background-color: rgb(182, 209, 219);
}

.headertextbox{
    box-sizing: border-box;
    background: rgb(43, 45, 163);
    max-height: 250px;
    width: 100%;
    position: top;
}

.headerselfiebox{
    max-height: 250px;
    width: 100%;
    text-align: center;
}
.headerselfie{
    height: 100%;
    width: auto;
}
.navigation_bar{

}
.main_content{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.main_content_box{
    box-sizing: border-box;
    margin: 10px;
    height: 50px;
    width: auto;
}

@media screen and (min-width: 500px) {
    .headerselfiebox{
        text-align: left;
    }
}




